# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\apn72\OneDrive - Institut Teknologi Bandung\1KULIAH\Semester 2\DASPRO\Tubes\Program-Inventaris-Doremonangis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
